body{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.principal{
    background-color: rgb(184, 155, 234);
    margin: auto;
    width: 1000px;
    height: 800px;
}

.tabla{
    background-color: rgb(143, 176, 143);
    align-self: center;
    padding: 2px;
}
td{
    padding: 20px;
}